:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --accent-bg-color: #2f303a;
    --icon-fill: #afb1b8;
    --primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}